Repository Pinazu/pinazu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Run Unit Test, Build Docker

Run Unit Test:
  stage: test
  trigger:
    include:
    - local: .pipelines/unittest.yml
    strategy: depend

Build Docker:
  stage: build
  trigger:
    include:
    - local: .pipelines/build-docker.yml
    strategy: depend

chore: prepare v1.0.0 release and update project configuration
  .github/workflows/ci.yml
  .vscode/settings.json
  configs/config.test.yaml
  python/pinazu-py/pyproject.toml
  sonar-project.properties
Due: none

update version from python
  python/pinazu-py/pyproject.toml
Due: none

updated to .6.2 for testing
  .github/PYPI_PUBLISHING_GUIDE.md
  .github/workflows/ci.yml
  python/pinazu-py/pyproject.toml
Due: none

fix update bump version
  .github/PYPI_PUBLISHING_GUIDE.md
  python/pinazu-py/pyproject.toml
Due: none

fix cicd pipeline
  .github/workflows/ci.yml
Due: none

updated image ci/cd
  Dockerfile
  python/pinazu-py/README.md
Due: Build Docker

updated
  Dockerfile
Due: Build Docker

updated ci/cd only push image when merge
  .github/workflows/ci.yml
Due: none

update go version and dockerimage securities;
  Dockerfile
  go.mod
  go.sum
Due: Run Unit Test, Build Docker

updated go lang and python version;
  Dockerfile
  python/pinazu-py/pyproject.toml
Due: Build Docker

updated sqlc and docker build go
  Dockerfile
  scripts/install-sqlc.sh
Due: Build Docker

udpated fix dockerfile build
  Dockerfile
Due: Build Docker

updated cicd
  .github/workflows/ci.yml.backup
  .github/workflows/docker-push.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  .pipelines/build-docker.yml
  .pipelines/build-python.yml
  .pipelines/unittest.yml
  Dockerfile
Due: Run Unit Test, Build Docker

updated remove ci.yml.backup;
  .github/workflows/ci.yml.backup
  .gitignore
Due: none

updated ci/cd and add workflow setup
  .github/workflows/docker-push.yml
  .github/workflows/pr-checks.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  README.md
  docs/WORKFLOWS.md
Due: none

udpated
  python/pinazu-py/CLAUDE.local.md
  python/pinazu-py/pyproject.toml
Due: none

Refactor model ID usage and cache control logic across various files; update test cases to use new model ID format.
  configs/config.test.yaml
  configs/config.yaml
  e2e/agents.spec.ts
  e2e/messages.spec.ts
  e2e/nats-internal-tool-websocket-e2e.spec.ts
  e2e/nats-multi-agents-websocket-e2e.spec.ts
  e2e/nats-tools-websocket-e2e.spec.ts
  e2e/nats-websocket-e2e.spec.ts
  e2e/permissions.spec.ts
  e2e/structured-output.spec.ts
  e2e/tasks.spec.ts
  e2e/tsconfig.json
  e2e/websocket.spec.ts
  internal/agents/anthropic.go
  internal/agents/anthropic_test.go
  internal/tools/gather_event_callback.go
Due: Run Unit Test, Build Docker

updated minor fix for testing cicd
  internal/agents/anthropic.go
  internal/agents/anthropic_test.go
Due: Run Unit Test, Build Docker

updated pinazu
  .github/workflows/python-publish.yml
  configs/config.yaml
  docker-compose.yml
  go.mod
  go.sum
  internal/agents/agents_test.go
  internal/agents/anthropic.go
  internal/agents/service.go
  internal/service/configs.go
  internal/service/service.go
  internal/telemetry/otel.go
Due: Run Unit Test, Build Docker

Path conditions:
  Run Unit Test: any of: .pipelines/build-docker.yml, .pipelines/unittest.yml, cmd/**, internal/**/*, sql/migrations/**, sql/queries/**, web/**/*, go.mod, go.sum
  Build Docker: (any of: .pipelines/build-docker.yml, cmd/**, internal/**/*, sql/migrations/**, sql/queries/**, web/**/*, go.mod, go.sum, Dockerfile) or (any of: .pipelines/build-docker.yml, internal/**/*, sql/migrations/**, sql/queries/**, web/**/*, go.mod, go.sum, Dockerfile)
